@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}
/* header*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    padding: 12px 30px 23px 23px;
    position: sticky;
    top: 0;
    border-bottom: .1px solid;
}

/* left logo*/

.leftLogo, .rightLogo {
    display: flex;
}
.svg-logo {
    width: 25px;
    height: 25px;
}
.svg-logo path {
    fill: white;
}
.op path {
    opacity: .7;
}
.imgLogo {
    margin-left: 1.4rem;
}
.imgLogo img {
    width: 35%;
}


/* right logo*/
.rightLogo {
    gap: 1.4rem;
    justify-content: space-around;
    align-items: center;
}
.pad {
    padding: .2rem 0 0;
}
.create-ctr {
    display: flex;
    gap: .6rem;
    align-items: center;
    outline: .2px solid rgba(255, 255, 255, .4);
    padding: .2rem .8rem;
}
.red path {
    fill: red;
}
.create {
    color: white;
}
.userImage img {
    width: 100%;
    border-radius: 50px;
}
.userImage {
    width: 30px;
    height: 30px;
}

/* main container*/
.main-ctr {
    display: flex;
}

.rightClipboard {
    box-sizing: border-box;
    max-height: calc(100vh - 58.4px);
    overflow-y: scroll;
    /* max-width: 1510px; */
}

/*left clipboard*/
.leftClipboard {
    width: 20%;
}
.bg {
    background-color: #282828;
}
/* .user-info {
    margin: 0 auto;
} */
.userLogo {
    width: 140px;
    margin: 1rem auto .9rem;
}
.userLogo .profile {
    width: 100%;
    border-radius: 100px;
}
.col {
    color: white;
}
.op2 {
    opacity: .4;
}
.op3 {
    opacity: .55;
}
.fonts {
    font-size: 1rem;
} 
.fonts2 {
    font-size: .9rem;
}
.ta {
    text-align: center;
}
.mgb {
    margin-bottom: .4rem;
}
.logo-container {
    padding: 1.1rem 1.3rem;
    border-bottom: .07px solid rgba(211, 211, 211, .2);
    height: 400px;
    overflow: auto;
    margin: 1.3rem 0;
}
.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.3rem;

}
.no-mg {
    margin: 0;
}
.svg {
    width: 28px;
    height: 28px;
}
.logo-width {
    width: 100%;
}
.logo-width path {
    fill: white;
    opacity: .5;
}

.logoName {
    font-size: .9rem;
}

.break-line {
    height: .07px;
    background-color: rgba(211, 211, 211, .2);
    margin-bottom: 1.4rem;
}
.pd2 {
    padding-left: 1.1rem;
}
.mgb2 {
    margin-bottom: 1.5rem;
}

/*right clipboard*/
.rightClipboard {
    width: 80%;
    background-color: #1F1F1F;
    padding: 1rem .5rem .6rem 1.7rem;
    /* height: 980px; */
}
.top-channel-wrapper {
    display: flex;
    justify-content: space-between;
    padding-inline: .5rem 2rem;
    margin-bottom: 2rem;
}
.dashboard {
    font-size: 2rem;
    font-weight: 500;
}
.icon {
    width: 45px;
    height: 45px;
    background-color: #282828;
    border-radius: 50px;
    padding: .3rem;
}
.icon-container {
    display: flex;
    gap: .9rem;
}

#uss {
    opacity: .5;
}

/* main wrapper*/
.second-main-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 4%;
}
.wrapper , .studio {
    width: 30%;
}
.wrapper ,.studio {
    background-color: #282828;
    border-radius: 4px;
}
.wrapper, .studio{
    outline: 1px solid  rgba(211, 211, 211, .2);

}
.inner-wrapper {
    outline: 1px dotted rgba(211, 211, 211, .2);
}
.pd4 {
    padding: 6rem 0;
}
.pd3 {
    padding: .5rem;
}

.image-container {
    width: 200px;
    margin: 0 auto;
}
.metric {
    opacity: .6;
}
.btn {
    width: 50%;
    height: 100px;
    margin: 2rem auto 0;
}
.btn button:hover {
    cursor: pointer;
}
.btn button {
    background-color: #3EA6FF;
    font-size: 1rem;
    font-weight: 545;
    padding: .7rem .8rem;
    border: none;
    border-radius: 3px;
}


.analytics , .creater,.studio{
    padding: 1.5rem;
}
.fonts3 {
    font-size: 1.4rem;
    font-weight: 600;
}
.mgb3 {
    margin-bottom: 1.2rem;
}
.week {
    font-weight: 500;
    margin-bottom: .6rem;
}
.zero {
    font-size: 2.1rem;
    margin-bottom: 1.8rem;
}
.conclu {
    font-size: 1.1rem;
}
.fws {
    
    font-weight: 550;
}
.view-count {
    display: flex;
    justify-content: space-between;
}
.dash {
    padding-left: 10px;
}
.line-marg {
    margin: 1.5rem 0 1.5rem;
}
.last  {
    margin-bottom: 2rem;
}
.refer {
    color: #3EA6FF;
    font-weight: 600;
}


.thumbnail-container {
    margin: 4px 1px 1.3rem;
}
.tempo {
width: 100%;
}
.insider {
    line-height: 1.5rem;
    margin-bottom: 1.3rem;
}



.studio {
    margin-left: auto;
    margin-top: -6rem;
    margin-right: 1.5rem;
}
.new {
    margin-bottom: 2.1rem;
}
.iron-icon, .iron-ic {
    opacity: 0;
}
.iron-icon {
    margin-left: auto;
}
.iron-icon svg {
    width: 21px;
}
.iron-ic svg {
    width: 15px;
}
.iron-ic {
    padding-top: .2rem;
    margin-left: .3rem;
}

.hover:hover {
    color: #3EA6FF;
    cursor: pointer;
}
.iron-icon svg path, .iron-ic svg path {
    fill: #3EA6FF;
}
.target {
    display: flex;
}
.target:hover .iron-icon,.target:hover  .iron-ic {
    opacity: 1;
}
.mgt {
    margin-top: 1.2rem;
}

.footer {
    display: flex;
    gap: 5rem;
    margin-top: 2.6rem;
    margin-bottom: 2rem;
}
.op4 {
    opacity: .7;
}
@media (max-width: 760px) {
    .wrapper , .studio {
        min-width: 375px;
    }
    .leftClipboard {
        width: 80px;
    }
    .userLogo {
        width: 40px;
        margin: 1rem auto .9rem;
    }
    .userLogo .profile {
        width: 100%;
        border-radius: 100px;
    }
    .user-info h2 , .user-info p {
        display: none;
    }
    
    .logoName {
       display: none;
    }
    .svg {
        width: 25px;
        height: auto;
    }
    .logo-container {
        height: auto;
        overflow: unset;
        border-bottom: none;
        margin-bottom: 4rem;
    }


    .rightClipboard {
        overflow: scroll;
    }
    .dashboard {
        font-size: 1.5rem;
    }
    .bottom-wrapper {
        width: calc(1140px + 10%);
    }
}
